*{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(44, 49, 152);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
 .box{
    background-color: white;
    height: fit-content;
    width: fit-content;
    padding: 50px;
    border-radius: 60px 10px 60px 10px ;
    box-shadow: 5px 5px 510px rgb(255, 255, 255);
 }
 .heading{
    color: rgb(56, 255, 192);
    text-align: center;
   
 }
 h1{
    font-size: 50px;
 }

 button{
    border: none;
    font-size: 20px;
    outline: none;
    padding: 15px;
    border-radius: 5px 10px;
    color: aliceblue;
    margin: 10px;
    cursor: pointer;
 }